/*Styles for mobile devices*/

@media screen and (max-width: 480px) {
    * {
        padding: 0;
        margin: 0;
    }

    header {

        background: url("images/myheader.jpg");
        width: 100%;
        height: 63px;
        font: normal bold 25px "Century";
        text-align: center;
        color: #b5dbdc;
    }

    body {
        height: auto;
    }

    #box article {
        float: none;
        width: 100%;
        background-color: white;

    }

    #box article img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    footer {
        background-image: url("images/footer.jpg");
        width: 100%;
        height: 30px;
        font: normal bold 10px "Arial";
        display:flex;
        align-items: center;

    }

    footer a {
        flex: 1;
        margin: 5px;
        text-decoration: none;
        color: #b5dbdc;

    }

    footer a:hover {
        flex: 1;
        text-decoration: underline;
        color: red;

    }

    footer span {
        flex: 3;
        /*display: block;*/
        text-align: right;
        color: lightgrey;
        margin-right: 2px;

    }
}

/*Styles for desktop devices*/

@media screen and (min-width: 481px) {

    * {
        padding: 0;
        margin: 0;
    }

    header {
        margin-top: 15px;
        background: url("images/myheader.jpg");
        width: 100%;
        height: 150px;
        font: normal bold 50px "Century";
        text-align: center;
        color: #b5dbdc;
        border-radius: 40px;
        box-shadow: 5px 5px 5px grey;
    }

    body {
        background: url("images/house.png");
        height: auto;
    }

    #box {
        margin: 20px auto;
        max-width: 1200px;
        background: #F7FBFF;
        display: flex;
        flex-wrap: wrap;
    }

    #box article {

        border-radius: 15px;
        width: 350px;
        height: 350px;
        background: #F1F1F1;
        margin: 5px;
        padding: 15px;
        box-shadow: 5px 5px 5px grey;

    }

    #box article img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    #box article div {
        margin-top: 5px;
    }

    footer {
        overflow: hidden;
        border-radius: 30px;
        background-image: url("images/footer.jpg");
        width: 100%;
        height: 50px;
        font: normal bold 20px "Arial";
        box-shadow: 5px 5px 5px grey;
        display:flex;
        align-items: center;

    }

    footer a {
        margin: 30px;
        text-decoration: none;
        color: #b5dbdc;
        flex:1;

    }

    footer a:hover {
        text-decoration: underline;
        color: red;
        flex:1;

    }

    footer span {
        flex: 3;
        /*display: block;*/
        text-align: right;
        color: lightgrey;
        margin-right: 20px;

    }

}